/node_modules
/public/assets/images
/public/client
/public/hot
/public/storage
/public/attorney
/public/documents
/storage/*.key
vendor
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
